        body{
            margin-left: 66px;
            margin-right: 66px;
            margin-top: 30px;            
            margin-bottom: 50px;
            } 

        p, span, li, text, div{                       /*this is all text - incl SVG text*/
            font-family: "Georgia", "Geneva", sans-serif;
            font-size: 14px;
        }

        p#subhead{                      /*looks like a header but more flexible*/              
            font-family: "Arial", "Geneva", sans-serif;
            color:#303030;
            font-size:3.6em;
            margin-left: 3px;          /*HACKY. aligns left-most point of first subhead word with left-most point of header*/
            margin-top: 0px;            /*forces top margin to 0, to remove excess white space*/
            margin-bottom: 0px;
        }

        a:link{
            color: #303030;
        }

        a.redLink:link {
            color: #FF0000;
        }

        a.redLink:visited {
            color: #B00808;
        }

        div#navigationSection{
            margin-bottom: 160px;
        }

        ul#navigationList{
            display:inline;                         /*lets last update date sit on same line*/
            width:600px;                            /*         "                 "          */
            margin-top: 10px;
            list-style-type: none;                  /*no bullets*/
        }

        li.navigationListItem{
            display: inline;                                    /*all list items on one line*/
            font-family: "Georgia", "Geneva", sans-serif;
            font-size: 1.5em;
            font-weight: bold;
            color:#303030;
        }

        p#lastUpdatedBox {
            width:259px;
            height:28px;
            display: block;
            margin-top: 0px;
            margin-bottom: 10px;
            background-color:#4BBD4D;
            float:right;
        }

        span#lastUpdatedHeader, span#lastUpdatedDate {
            font-size:20px;
        }

        span#lastUpdatedHeader, span#lastUpdatedDate{
            position:relative;
            top:2px;                    /*hacky*/                        
        }

        p#twitterLinkBox{
            clear: both;            /*clears float of lastUpdatedBox and forces onto new line*/
            width:259px;            /*forces to be same width as lastUpdatedBox*/
            height:28px;
        }
        
        p#twitterLinkBox {
            margin-top: 0px;
            margin-bottom: 0px;
            background-color:#55ACEE;               /*Twitter blue*/
            float:right;
        }

        img#twitterLogo32{
            position:relative;
            top:-2px;                   /*hacky*/
        }

        p#twitterLinkBox a {
            font-size:20px;
            position: relative;
            top: -11px;             /*hacky*/
            color: #303030;
        }

        text.segmentCountlarge{                     /*labels on and around pie charts*/
            font-size: 26px;   
        }

        text.segmentPercentagelarge{
            font-size: 14px;   
        }

        text.centralLabellarge{
            font-size: 26px;   
        }

        text.segmentCountsmall{
            font-size: 20px;   
        }

        text.segmentPercentagesmall{
            font-size: 10px;   
        }
        
        text.centralLabelsmall{
            font-size: 20px;   
        }

        div#openSection p, div#openSection div, div#closedSection p, div#closedSection div, div#notesSection h3, div#notesSection ul{             /*indents all sections under open, closed, and notes headers*/
            margin-left: 41px;
        }

        div#openSection div#openTableSpace{             /*...except the table of open free schools...*/
            margin-left: 0px;
        }

        div#closedSection div#closedTableSpace{         /*...and the table of closed free schools*/
            margin-left: 0px;
        }

        div#openSection div#openNotesSpace, div#closedSection div#closedNotesSpace{
            margin-top:20px;
            margin-left: 184px;                      /*HACKY. Brings table notes in line (actually marginally inside) left and right edges of table*/
            margin-right: 184px;                      
        }
    
        div#piesSection{
            margin-top: 50px;
            margin-bottom: 50px;
        }

        div#openSection, div#closedSection{
            margin-bottom: 50px;
        }
        
        div#openSection, div#closedSection, div#notesSection{
            margin-bottom: 80px;
        }

        h1, h2,h3,h4 {                                 /*nb these are naturally bold*/
            font-family: "Arial", "Geneva", sans-serif;
            color:#303030 ;
        }

        h2,h3,h4 {                                 
            margin-left: 4px;          /*HACKY. aligns left-most point of first subhead word with left-most point of header*/
        }

        h1{                                 
            font-size:6em;
            margin-bottom: 0px;
        }

        h2{                                 
            font-size:40px;
            margin-bottom: 20px;
        }
        
        h3{                                 
            margin-top: 36px;
        }

        table{
            margin-left:auto; 
            margin-right:auto;
            border-collapse: collapse;
        }

        th, td {
            font-family: "Arial", "Geneva", sans-serif;
            font-size:12px;
            padding-top:4px;
            padding-bottom:4px;
            vertical-align:middle;
        }

        th {
            cursor: default;        /*text doesn't show as selectable*/
        }            
    
        th.unselectedColumn {
            color:white;
            background-color:#303030;
            text-align:center;
        }

        th.selectedColumn {
            color:white;
            background-color:#585858;
            text-align:center;
        }

        td {
            text-align:left;
        }

        tr:hover {
            background-color:#E0E0E0;
        }

        div#notesSection ul{
            margin-left:5px;                /*hacky. Pushes bullets in marginally, to line up with h3s*/
        }
        
        div#notesSection li{
            margin-left:0px;
