        body{
            margin-left: 66px;
            margin-right: 66px;
            margin-top: 30px;            
            margin-bottom: 50px;
            /*padding: 30px;*/
            } 

        a, p, span, li, text, td, th{                       /*this is all text - incl SVG text*/
            font-family: "Georgia", "Geneva", sans-serif;
            /*font-family: "Arial", "Helvetica", sans-serif;*/
            font-size: 14px;
        }

        p.subhead{                      /*looks like a header but more flexible*/              
            font-family: "Arial", "Geneva", sans-serif;
            color:#303030;
            font-size:3.6em;
            margin-left: 0px;          /*HACKY. 30 also looks good*/
            margin-top: 0px;            /*forces top margin to 0, to remove excess white space*/
            margin-bottom: 0px;
        }

        p#lastUpdatedBox {
            /*margin-top: 90px;*/
            vertical-align:right;
            background-color:#4BBD4D;
            float:right;
        }

        p#lastUpdatedBox, span#lastUpdatedDate {
            font-size:1em;
        }

        div#navigationSection{
            margin-top: 90px;
        }

        h1, h2,h3,h4 {                                 /*nb these are naturally bold*/
            font-family: "Arial", "Geneva", sans-serif;
            color:#303030 ;
        }

        h1{                                 
            font-size:6em;
            /*text-align: center;*/
            margin-bottom: 0px;         /*forces bottom margin to 0, to remove excess white space*/
        }

        h2{                                 
            padding-top: 10px;
        }

        table{
            margin-left:auto; 
            margin-right:auto;
        }

        th, td {
            font-family:sans-serif;
            font-size:0.8em;
            padding-left:7px;
            padding-right:7px;
            padding-top:4px;
            padding-bottom:4px;
            vertical-align:middle;
            /*text-align:center;/**/
        }

        th {cursor: default}            /*text doesn't show as selectable*/

        th.unselectedColumn {
            color:white;
            background-color:steelblue;
            text-align:center;
        }

		th.selectedColumn {
            color:white;
            background-color:black;
            text-align:center;
        }

        td {
            /*border:0px solid black;*/
            text-align:left;
        }

        tr:hover {
            background-color:#E0E0E0;
        }

        /*tr[chosen=true] {                       doesn't work currently as code to allow choosing has not been brought in*/
        /*    background-color:#B5CDE1;*/
        /*}*/
